NEXTAUTH_URL= # Should be http://localhost:3000 if developing locally, else use production URL
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

DATABASE_URL=
REDIS_URL=
REDIS_TOKEN=